.title {
    position: relative;
    height: 7vh;
    width: 95%;
    margin: 0 auto;
    font-size: 3.75rem;
    font-weight: 400;
    color: #FFF;
    background-color:#145EA3;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}